#footer{
	margin-top:30px;
	padding:20px;
	color:#fff;
	background:#333;
}

/* My own classes:
 *
 * filter-widget
 *
 */


.filter-widget{
	/*color:#0f0;*/
}

.panel-body{
	/*word-wrap: break-word;*/
}